.alignRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}

.alignRow .left {
  align-self: flex-start;
}

.alignRow .right {
  align-self: flex-end;
}

.table {
  margin: 5px;
  margin-bottom: 30px;
}
